body{
    
    width: 1440px;
    height: 1024px;
    
    background: #F3F5FC;

    

}
.logo{

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;
    position: absolute;
    width: 120px;
    height: 48px;
    left: 40px;
    top: 40px;

   
}

.Titulo1{

    position: absolute;
    width: 336px;
    height: 58px;
    margin-top: 120px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    text-align: center;
    color: #343A40;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}



.retangulo{
    
    position: absolute;
    width: 400px;
    height: 900px;
    left: 80%;
    top: 40px;

    background: #FFFFFF;
    box-shadow: 20px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
    
}

.FRAME_5{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;
    position: absolute;
    width: 336px;
    height: 122px;
    left: 10px;
    top: 619px;
}

.ningun{
    
    width: 336px;
    height: 58px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 120%;
 
    text-align: center;

    color: #343A40;

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;

}


.ingrese{
    
    width: 336px;
    height: 48px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 150%;
    text-align: center;
    color: #495057;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}



.muneco{
    position: relative;
    width: 336px;
    height: 304px;
    left: 10px;
    top: 150px;
}

.solo_minu{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;

    position: relative;
    width: 229px;
    height: 18px;
    left: 240px;
    top: 851px;
}

.solo_minucula{
    position: relative;
    width: 250px;
    height: 18px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #495057;
    opacity: 0.8;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.buttonCopiar{
    
    position: absolute;
    width: 150px;
    height: 50px;
    margin-top: 200px;
    margin-left: 110px;
    border-radius: 30px;
    
    background: #FFFFFF;


    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
}

.botonera{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;

    position: absolute;
    width: 680px;
    height: 67px;
    left: 240px;
    top: 885px;

}

.boton_encriptar{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 24px;
    gap: 8px;
    
    width: 328px;
    height: 67px;
    background: #0A3871;
    border-radius: 24px;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.text_btn1{
    width: 280px;
    height: 19px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    
  
    
    color: #FFFFFF;
    
    
    
    
    flex: none;
    order: 0;
    flex-grow: 1; 
}

.boton_desencriptar{
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 24px;
    gap: 8px;

    width: 328px;
    height: 67px;
    background: #D8DFE8;
    border: 1px solid #0A3871;
    border-radius: 24px;
    flex: none;
    order: 1;
    flex-grow: 0;
}
.text_btn2{

    width: 280px;
    height: 19px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #0A3871;
    flex: none;
    order: 0;
    flex-grow: 1;
}

.text_encriptar{
    position: absolute;
    width: 577px;
    height: 48px;
    left: 240px;
    top: 250px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
   

    color: #0A3871;
}



.footer{
    position: absolute;
    width: 1000px;
    height: 48px;
    left: 25%;
    
    bottom: 10px;

    
}

.p-footer
{
    margin-top: 100px;
    padding: 10px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 200%;
    text-align: center;
}
    